<div class="row">
    <div class="container">
        <div class="col-xxl-12 bloque" >
            <div class="row" *ngFor="let ProducStel of producByReference">
                
                    <p>Referencia: {{ProducStel.reference}}</p>
                    <p></p>
                    <p>{{ProducStel.reference}</p>
            
            </div>
        </div>
        <p>esto es una prueba</p>
    </div>
</div>
   

<!--<ng-template ngFor let-item [ngForOf]="items" let-i="index" [ngForTrackBy]="trackByFn">
    <li>...</li>
  </ng-template>-->